/* Container */
.login-container {
    background: #f5eeeedd;
    padding: 40px 35px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(94, 255, 142, 0.523);
    width: 320px;
    text-align: center;
}


.login-container h2 {
    color: #1b5e20;
}


.input-box {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border: 2px solid #4caf50;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    background: transparent;
    
}

/* Registro */
.register {
    margin-top: 15px;
    font-size: 14px;
}

.register a {
    color: #1b5e20;
    text-decoration: none;
    font-weight: bold;
}

.login-container img {
    width: 115px;  
    height: auto;
    display: block;
    margin: 0 auto 20px;
}
