@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root{
    background: #F2FBF6;
}

.primary-font{
    font-family: "Raleway", sans-serif !important; 
}

.secondary-font{
    font-family: "Montserrat", sans-serif !important;
}