@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root{
    background: #F2FBF6;
}

.primary-font{
    font-family: "Raleway", sans-serif; 
    font-size: 30px;
}

p{
    font-family: "Montserrat", sans-serif;
    font-size: large;
}

h5{
    font-family: "Raleway", sans-serif; 
}