.navbar {
    background-color: #66CC96;
    margin-bottom: 5%;
    box-shadow: #00000031 0 3px 10px;

    .collapse {
        display: flex;
        justify-content: center;
    }
}

a {
    color: #333;
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

a:hover {
    color: #fff !important;
}


.navIcon {
    width: 25px;
    margin: 0 10px;
}

@media (max-width:768px) {
    .navIcon {
        width: 25px;
    }

    .imgLogo {
        width: 245px;
    }

    .navbar {
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            text-align: center;
        };
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}