.navbar {
    background-color: #66CC96;
    margin-bottom: 5%;
    box-shadow: #00000031 0 3px 10px;
    .collapse{
        display: flex;
        justify-content: center;
    }
}

.navbar .nav-link {
    color: #333;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar .nav-link:hover {
    color: #fff !important;
    transform: translateY(-2px);
}


.navIcon{
    width: 25px;
    margin: 0 10px ;
}

@media (max-width:768px){
    .navIcon{
    width: 25px;

}
}