nav{
    background: var(--primary-color);
    margin-bottom: 10%;
    .with-border{
        border-left: #35403A solid 2px;
    }
}

body{
    background-color: var(--back-color) !important;
    h1{
        margin: 10%;
    }
    .card{
        background: #D9FFEB;
        margin: 0 5% 15%;
        box-shadow: #00000065 0 3px 10px;
    }
}

footer{
    background-color: var(--footer-color);
    img{
        width: 70%;
        margin: 10%;
    }
}