nav {
    background: var(--primary-color);

    .with-border {
        border-left: #35403A solid 2px;
    }
}

body.noticias {
    background-color: var(--back-color) !important;

    h1,h2,h3 {
        margin: 5%;
    }

    .noticias .container{
        display: flex;
        justify-content: center;
        .card {
            background: #66CC96;
            margin: 0 5% 15%;
            box-shadow: #00000065 0 3px 10px;
            padding: 1%;
            width: 50%;
            transition: transform 0.3s ease;
        }
        .card:hover {
            transform: translateY(-3px);
            box-shadow: 0 #00000065 0 3px 10px;
          }
    }
}

footer {
    background-color: var(--footer-color);

    img {
        width: 70%;
        margin: 10%;
    }
}