ul li{
    gap: 30px;
}

h2{
    display: flex;
    justify-content: center;
}

p {
    font-size: 16px;
}

.logo {
    width: 90px;
    height: auto; 
  }

  .home{
    width: 35px;
  }
  

@media (max-width:768px){
    .navbar{
        .collapse{
       
        justify-content: start;
    } } 
    .baixo{
        flex-direction: column;
    }

}


