.navbar {
    background-color: #E6F7EE;
    .collapse{
        display: flex;
        justify-content: center;
    }
}

ul li{
    gap: 30px;
}

h2{
    display: flex;
    justify-content: center;
}

.footer-custom {
    background-color: #339a73; 
    color: white;
  }
  
  .footer-custom h5, .footer-custom h6 {
    font-weight: bold;
  }
  
  .footer-custom a {
    color: white;
    margin-right: 10px;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .footer-custom a:hover {
    color: #cce5ff;
  }
  
  .footer-custom .social-icons i {
    font-size: 1.5rem;
    margin-right: 10px;
  }


p {
    font-size: 16px;
}

.logo {
    width: 90px;
    height: auto; 
  }

  .home{
    width: 35px;
  }
  

@media (max-width:768px){
    .navbar{
        .collapse{
       
        justify-content: start;
    } } 
    .baixo{
        flex-direction: column;
    }

}


